@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }
  
  a {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .section-padding {
    @apply py-20;
  }
  
  .container-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }
}

